*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:15px;
}

nav a:hover {
    color: #f5c542;
}

body{
    background: url("../../Images/background.png") no-repeat center center/cover;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    position:relative;
}

body::before{
    content:"";
    position:absolute;
    inset:0;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.6);
    z-index:-1;
}

header{
    background:#1e2a3a;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:22px;
    font-weight:bold;
}

.logo img{
    width:35px;
}

/* CENTRAGE */
.container{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARTE */
.form-box{
    width:400px;
    padding:40px;
    border-radius:20px;
    background: rgba(30,42,58,0.85);
    backdrop-filter: blur(15px);
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

/* RADIO HIDDEN */
input[type="radio"]{
    display:none;
}

/* TABS */
.tabs{
    display:flex;
    justify-content:center; /* centre les tabs */
    gap:40px; /* espace propre entre les deux */
    margin-bottom:30px;
}

.tab{
    text-align:center;
    padding-bottom:10px;
    cursor:pointer;
    border-bottom:2px solid transparent;
    color:#aaa;
    min-width:100px; /* équilibre visuel */
}
/* TAB ACTIVE */
#login:checked ~ .tabs label[for="login"],
#register:checked ~ .tabs label[for="register"]{
    border-color:#caa32c;
    color:#caa32c;
}

/* FORM */
.form{
    display:none;
    flex-direction:column;
}

/* AFFICHAGE */
#login:checked ~ .login-form{
    display:flex;
}

#register:checked ~ .register-form{
    display:flex;
}

/* LABEL */
label{
    margin-bottom:8px;
    margin-top:10px;
}

/* INPUT */
input[type="email"],
input[type="password"],
input[type="text"]{
    padding:12px;
    border-radius:25px;
    border:none;
    background:#8c6f1f;
    color:white;
    margin-bottom:10px;
    outline:none;
}

/* BOUTON */
.main-btn{
    margin-top:20px;
    padding:12px;
    border-radius:25px;
    border:none;
    background:#caa32c;
    font-weight:bold;
    cursor:pointer;
}

.main-btn:hover{
    background:#b89224;
}

footer{
    background:#1e2a3a;
    text-align:center;
    padding:15px;
    margin-top:auto;
}